body{
    margin: 0px;
    padding: 0px;
}

#domain{
    background-image: url(../images/road.jpg);
/*    height: 650px;*/
    
    background-size: cover;
    background-repeat: no-repeat;
/*    opacity: 0.4;
    filter: alpha(opacity=40);*/
}
.castom{
    background-color: #d9d9d9;
    padding: 50px 30px;
    margin: 20px 0px;
    border: 3px solid #777;
}

.mytop{
    text-align: center;
    color: #000;
    font-size: 20px;
    font-family: Verdana, sans-serif;
}
.castom1{
    background-color: #f2f2f2;
    padding: 50px 30px;
    margin: 20px 0px;
    border: 3px solid #777;
}